@import 'bootstrap.min';

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	border-radius: $radius;
	background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

body{
	background-color: #F1F1F1;
}

.login-register {
	margin: 8em 0;
	
	.logo-container {
		margin-bottom: 1em;
		h2 {
			text-align: center;
			text-transform: uppercase;
			font-size: 1.9em;
			color: #767676;
		}

		h1 {
			margin-top: 0;
			text-align: center;
			font-weight: 600;
			color: #436C98;
			font-size: 2em;
			text-transform: uppercase;

			img {
				width:  1em;
				margin-top: -.2em;
			}
		}
	}

	.form-container {
		padding: 1em;
		background-color: rgba(255,255,255,1);
		-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.34);
		-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.34);
		box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.34);

		label {
			text-align: left;
		}

		.form-group {
			.img-container {
				img {
					width: 2em;
					padding: .5em;
					margin-top: -.2em;
				}
			}
		}

		button.btn {
			padding-right: 2em;
			padding-left: 2em;
			float: right;
		}
	}
}

header {
	nav.navbar {
		@include border-radius(0);

		ul.admin {
			margin-left: 2em;

			img {
				width: 1.25em;
				margin-top: -.2em;
				margin-right: .5em;
			}
		}
	}
}

.page {
	.inner {
		background-color: #fff;
		padding: 1em;
		-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.34);
		-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.34);
		box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.34);

		.header {
			border-bottom: 1px solid rgba(0,0,0,.1);
			h1 {
				font-size: 2em;
			}

			button {
				margin-top: 1em;
				float: right;
			}
		}


		.sidebar {
			padding: .85em;
			min-height: 300px;
			margin-top: 1em;
			border: 1px solid rgba(0,0,0,.1);
			h3 {
				margin-top: 0;
			}
		}
		
		.main {
			padding: .85em;
			min-height: 300px;
			margin-top: 1em;
			border: 1px solid rgba(0,0,0,.1);
			h3 {
				margin-top: 0;
			}
		}

		.pagination-container {
			text-align: center;
		}
	}
}